html {
  background-color: green;
}

.welcome {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  height: 200px;
  width: 375px;
  background-image: url("../img/bush.png");
  margin: 75px;
  float: left;
}

.tryAgainBtn {
  padding: 15px;
}
